.esquerda{
    float: left;
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 2px;
    height: 100vh;
    overflow: auto;
}

.esquerda a, ul >li{
    list-style: none;
    text-decoration: none;
    background-color: #d362ff;
    border-radius: 2px;
    padding: 5px 5px 5px 5px;
    display: flex;
    
    margin-left: 20px;
}

.esquerda ul{
    margin-right: 20px;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.esquerda ul li{
    margin-top: 10px;
    margin-right: 10px;
    width: 150px;
}
.img-roda{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: flow-root;
 
}

img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    
}

#fist-icon {
    width: 40px;
    height: 40px;
    margin-left: 50px;
    margin-top: 30px;
}

.imagem-principal {
    width: 700px;
    height: 450px;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 10px;
    padding-left: 0cqmax;
}

.botoes {
    margin-top: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 150px;

}

.button {
    background-color: rgb(31, 43, 214);
    color: white;
    border: none;
    border-radius: 7px;
    margin: 10px;
    margin-top: 0px;
    width: 90px;
    height: 35px;
    cursor: pointer;
    margin-left: 10px;
   
}



#caixas {
    margin-right: 4px;
}



.cardxd {
    border-radius: 20px 20px 0px 0px;
    width: 245px;
    height: 140px;
    object-fit: cover;
    margin-inline-end: 10px;
    
}

.fundo2 {
    background-color: #ffffff;
    box-shadow: 0px 3px 10px #808080;
    width: 245px;
    height: 280px;
    border-radius: 20px 20px 20px 20px;
}

.container {
    justify-content: space-evenly;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 50px;
}

.img1 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.classes {
    margin: 0px;
}

.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    margin-left: 12%;
    font-size: 14px;
    padding-top: 0px;
}

.plu {
    color: rgb(190, 190, 190);
    text-align: left;
}

.plus {
    text-align: left;
}

.desc {
    padding-top: 0px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}


.cinza {
    color: black;
    font-weight: bold;
    margin-left: 8%;
}

.botao-azul {
    color: white;
    width: 140px;
    height: 30px;
    border-radius: 12px;
    margin-left: 23%;
    background-color: rgb(255, 60, 0);
    cursor: pointer;
    margin-top: 0%;
    box-shadow: 0px 3px 10px #808080;
}