.esquerda{
    float: left;
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 2px;
    height: 100vh;
    overflow: auto;
}

.esquerda a, ul >li{
    list-style: none;
    text-decoration: none;
    background-color: #d362ff;
    border-radius: 2px;
    padding: 5px 5px 5px 5px;
    display: flex;
    
    margin-left: 25px;
}

.esquerda ul{
    margin-right: 20px;
}

.esquerda ul li{
    margin-top: 10px;
    margin-right: 10px;
    width: 150px;
}
.img-roda{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: flow-root;
 
}

img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #f4f4f4;
}

nav {
    width: 250px;
    background-color: #ccc;
    height: 100vh;
    color: rgb(0, 0, 0);
    padding: 20px;
    float: left;
    overflow-y: auto;
    position: relative;
}
.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.profile p {
    margin-top: 10px;
    font-size: 16px;
}

.profile span {
    font-size: 14px;
    color: #000000;
}


.main-content {

    padding: 20px;
  
}

h2 {
    margin-bottom: 20px;
}

.classes {
    display: flex;
    gap: 20px;
padding-left: 150px;   
}

.class-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.class-card img {
    width: 100%;
    border-radius: 8px;
}

.class-card h3 {
    margin-top: 15px;
}

.class-card p {
    margin-top: 10px;
    font-size: 14px;
}

button {
    margin-top: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    
}